body{
background: url(https://static.clubs.nfl.com/image/private/t_editorial_landscape_12_desktop/seahawks/fc4sppa0sr0x5kd6zpgq) ;
background-size: cover;

text-align: left;
font-family: 'roboto', sans-serif;
background-color: rgb(21, 84, 201);
color: rgb(0, 255, 221);

}
ul{
    list-style: square;
    list-style-image: url(logo2.png); 

    list-style-position: inside;
    
      

}
